<div ng-controller="EmployeeConfigCtrl as config">
	<div class="row">
		<div class="p-l-1">
			<div class="placeloadtitle col-md-9" ng-hide="contentPlaceholder"></div>
			<div class="placeloadbread col-md-3" ng-hide="contentPlaceholder"></div>
			<div class="placeloadleft col-md-5" ng-hide="contentPlaceholder"></div>
			<div class="placeloadright col-md-7" ng-hide="contentPlaceholder"></div>
		</div>
	</div>
	<!-- begin contentData -->
	<div ng-show="contentData">
	    <!-- begin breadcrumb -->
	    <ol class="breadcrumb pull-right">
	        <li><a href="javascript:;">Home</a></li>
	        <li><a href="javascript:;">User Management</a></li>
	        <li class="active">Manage Users</li>
	    </ol>
	    <!-- end breadcrumb -->
	    <!-- begin page-header -->
	    <h1 class="page-header">Update Account <small>modify user profile...</small></h1>
	    <!-- end page-header -->
	    <!-- begin row -->
	    <div class="row">
	    	<!-- start col-md-5 -->
	    	<div class="col-md-5">
				<md-card>
					<md-card-content>
						<div layout="column" layout-padding ng-cloak>
							<md-content class="md-no-momentum">
								<div class="text-center">
									<h3 class="m-t-10" md-colors="{color: 'grey-800'}">Register User</h3>
									<p md-colors="{color: 'grey-700'}">Add Employee to company.</p>
								</div>
								<div class="search-divider m-b-20"></div>
								<form name="regForm">
									<div layout="row" layout-wrap>
										<div flex="100">
											<md-input-container class="md-block">
												<label>Employee No.</label>
												<input required type="text" name="employeeno" ng-model="employeeDetails.employeeNo"
												/>
												<div ng-messages="regForm.employeeno.$error">
													<div ng-message="required">This is required.</div>
												</div>
											</md-input-container>
										</div>
									</div>
									<div layout="row" layout-xs="column" layout-wrap>
										<md-input-container flex>
											<label>Username</label>
											<input required type="email" name="username" ng-model="employeeDetails.username"
											/>
											<div ng-messages="regForm.username.$error">
												<div ng-message="email">This is email format.</div>
												<div ng-message="required">This is required.</div>
											</div>
										</md-input-container>
										<md-input-container flex>
											<label>Password</label>
											<input type="password" required name="password" ng-model="employeeDetails.password">
											<div ng-messages="regForm.password.$error">
												<div ng-message="required">This is required.</div>
											</div>
										</md-input-container>
									</div>
									<div layout="row" layout-wrap layout-xs="column">
										<md-input-container flex>
											<label>First Name</label>
											<input required name="firstname" ng-model="employeeDetails.firstname">
											<div ng-messages="regForm.firstname.$error">
												<div ng-message="required">This is required.</div>
											</div>
										</md-input-container>

										<md-input-container flex>
											<label>Last Name</label>
											<input required name="lastname" ng-model="employeeDetails.lastname">
											<div ng-messages="regForm.lastname.$error">
												<div ng-message="required">This is required.</div>
											</div>
										</md-input-container>
									</div>
									<div layout="row" layout-wrap>
										<div flex="100">
											<md-input-container class="md-block">
												<label>Middle Name</label>
												<input type="text" name="middlename" ng-model="employeeDetails.middlename"
												/>
											</md-input-container>
										</div>
									</div>
									<div layout="row" layout-wrap>
										<div flex="100">
    										<md-input-container class="md-block">
    										<label>Roles</label>
    											<md-select ng-model="employeeDetails.role" name="role" required>
    												<md-option value="viewer">Viewer</md-option>
    												<md-option value="admin">Admin</md-option>
    											</md-select>
    											<div ng-messages="regForm.role.$error">
    												<div ng-message="required">This is required.</div>
    											</div>
											</md-input-container>
										</div>
									</div>
									<div class="m-t-30">
										<md-button type="submit" ng-disabled="regForm.$invalid" class="md-raised md-primary m-l-0">Submit</md-button>
									</div>

								</form>
							</md-content>
						</div>
					</md-card-content>
				</md-card>
		    </div>
		    <!-- end col-md-5 -->
		    <!-- start col-md-7 -->
	    	<div class="col-md-7"> 
	    		<md-card>
	    			<md-card-title  md-colors="{background: 'Amber-A700'}">
	    				<md-card-title-text>
	    				<span class="md-headline" md-colors="{color: 'grey-50'}">Registered Employee</span>
	    				</md-card-title-text>
	    			</md-card-title>
	    			<md-divider></md-divider>
					<md-card-content>
	    				<table datatable="ng" dt-options="dtOptions" class="table table-bordered table-condensed">
	    					<thead>
							    <tr>
							        <th>ID</th>
							        <th>First name</th>
							        <th>Last name</th>
							    </tr>
							</thead>
							<tbody>
							    <tr ng-repeat="(key, value) in employee | filter:search">
							    	<td>{{value.id}}</td>
							        <td>{{value.firstname}}</td>
							        <td>{{value.lastname}}</td>
							    </tr>
						    </tbody>
						</table>
	    			</md-card-content>
	    		</md-card>
			</div> <!-- end col-md-7 -->
	    </div> <!-- end row -->
	</div> <!-- end contentData -->
</div>