<div ng-controller="EmployeeRoleCtrl as rol">
	<div class="row">
		<div class="p-l-1">
			<div class="placeloadtitle col-md-9" ng-hide="contentPlaceholder"></div>
			<div class="placeloadbread col-md-3" ng-hide="contentPlaceholder"></div>
			<div class="placeloadleft col-md-5" ng-hide="contentPlaceholder"></div>
			<div class="placeloadright col-md-7" ng-hide="contentPlaceholder"></div>
		</div>
	</div>
	<!-- begin contentData -->
	<div ng-show="contentData">
	    <!-- begin breadcrumb -->
	    <ol class="breadcrumb pull-right">
	        <li><a href="javascript:;">Home</a></li>
	        <li><a href="javascript:;">User Management</a></li>
	        <li class="active">Manage Roles</li>
	    </ol>
	    <!-- end breadcrumb -->
	    <!-- begin page-header -->
	    <h1 class="page-header">Permissions <small>add, edit and delete roles,...</small></h1>
	    <!-- end page-header -->
	    <!-- begin row -->
	    <div class="row">
	    	<div class="col-md-5">
				<md-card>
					<md-card-content>
						<div layout="column" layout-padding ng-cloak>
							<md-content class="md-no-momentum">
								<div class="text-center">
									<h3 class="m-t-10" md-colors="{color: 'grey-800'}">Role</h3>
									<p md-colors="{color: 'grey-700'}">Create priviledge.</p>
								</div>
								<div class="search-divider m-b-20"></div>
								<form name="roleForm">
									<div layout="row" layout-wrap>
										<div flex="100">
											<md-input-container class="md-block">
												<label>Role Name</label>
												<input required type="text" name="name" ng-model="roleDetail.name"
												/>
												<div ng-messages="roleForm.name.$error">
													<div ng-message="required">This is required.</div>
												</div>
											</md-input-container>
										</div>
									</div>
<div layout="row" layout-wrap>
	<div flex="100" layout="column">
		<div>
			<fieldset class="role-fieldset" >
				<legend class="role-legend">Role </legend>
				<div layout="row" layout-wrap flex>
					<div flex-xs flex="50">
						<md-checkbox aria-label="Select All"
							ng-checked="isChecked()"
							md-indeterminate="isIndeterminate()"
							ng-click="toggleAll()">
							<span ng-if="isChecked()">Un-</span>Select All
						</md-checkbox>
					</div>
					<div class="role-select-all-checkboxes" flex="100" ng-repeat="item in items">
						<md-checkbox ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">
							{{ item }}
						</md-checkbox>
					</div>
				</div>
			</fieldset>
		</div>
	</div>
</div>

									<div class="m-t-30">
										<md-button type="submit" ng-disabled="roleForm.$invalid" class="md-raised md-primary m-l-0">Submit</md-button>
									</div>
								</form>
							</md-content>
						</div>
					</md-card-content>
				</md-card>
	    	</div>
	    	<div class="col-md-7">

	    	</div>
	    </div>
	    <!-- end row -->
	</div>
</div>