
<!-- begin #header -->
<div id="header" class="header navbar navbar-default navbar-fixed-top" ng-controller="headerController">
    <!-- begin container-fluid -->
    <div class="container-fluid">
        <!-- begin mobile sidebar expand / collapse button -->
        <div class="navbar-header">
            <a href="index.html" class="navbar-brand"><!-- <span class="navbar-logo"></span> --> LOGO</a>
            <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- end mobile sidebar expand / collapse button -->
        
        <!-- begin header navigation right -->
        <ul class="nav navbar-nav navbar-right">
            <li class="animated fadeIn">
                <a href="javascript:;" class="f-s-14 waves-effect petsa">
                    <span class="grey-text darken-2" ng-bind="petsa | date:'medium'"></span>
                </a>
            </li>
            <li class="animated fadeIn">
                <a href="javascript:;" class="f-s-14 waves-effect">
                    <i class="fa fa-bug"></i>
                </a>
            </li>
            <li class="animated fadeIn" ng-controller="MemberLoginCtrl as login">
                <a href="#" class="f-s-14 waves-effect" ng-click="logout()">
                    <i class="fa fa-sign-out"></i> Logout
                </a>
            </li>
        </ul>
        <!-- end header navigation right -->
    </div>
    <!-- end container-fluid -->
</div>
<!-- end #header -->