
<!-- begin #sidebar -->
<div id="sidebar" class="sidebar" ng-controller="sidebarController" ng-class="{ 'sidebar-transparent': setting.layout.pageSidebarTransparent }">
    <!-- begin sidebar scrollbar -->
    <div data-scrollbar="true" data-height="100%">
        <!-- begin sidebar user -->
        <ul class="nav">
            <li class="nav-profile">
                <div class="image">
                    <a href="javascript:;"><img src="images/no-photo.jpg" alt="" /></a>
                </div>
                <div class="info">
                    Andrew Ragadio
                    <small>Front End Developer</small>
                </div>
            </li>
        </ul>
        <!-- end sidebar user -->
        <!-- begin sidebar nav -->
        <ul class="nav">
            <li class="nav-header">Navigation</li>
            <li ui-sref-active="active" class="has-sub" >
                <a ui-sref="app.dashboard.index" md-ink-ripple="#E0F2F1">
                    <i class="fa fa-tachometer"></i
                    <span>Dashboard</span> 
                </a>
            </li>
            <li ui-sref-active="active" class="has-sub"> <!-- ng-class="{active:$state.includes('app.dashboard')}" -->
                <a href="javascript:;" md-ink-ripple="#009688">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-id-card-o"></i>
                    <span>User Management</span> 
                </a>
                <ul class="sub-menu">
                    <li><a href="javascript:;" ui-sref="app.employee.config">Manage Users</a></li>
                    <li><a href="javascript:;" ui-sref="app.employee.roles">Manage Roles </a></li>
                </ul>
            </li>
            <li ui-sref-active="active" class="has-sub">
                <a ui-sref="app.member.logs" md-ink-ripple="#E0F2F1">
                    <i class="fa fa-th"></i>
                    <span>Employee Daily Logs</span>
                </a>
            </li>
            <!-- begin sidebar minify button -->
            <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
            <!-- end sidebar minify button -->
        </ul>
        <!-- end sidebar nav -->
    </div>
    <!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg"></div>
<!-- end #sidebar -->

